<div class="module">
    <div class="hd">
        <h1>Review flights to check-in</h1>
    </div>
    <div class="bd">
        <ul class="itinerary">
            <li>
                <h2>Sun, Jul 03 &bull; Flight #1068</h2>
                <dl class="stationinformation">
                    <dt>Depart</dt>
                        <dd>JFK-New York, NY<br>9:00am</dd>
                    <dt>Arrive</dt>
                        <dd>HPN-Westchester Cou&hellip;<br>11:00am</dd>
                </dl>
                <dl class="seatassign">
                    <dt>Charles Jackson</dt><dd>17A</dd>
                    <dt>Kate Jackson</dt><dd>17B</dd>
                </dl>
            </li>
            <li>
                <h2>Sun, Jul 06 &bull; Flight #1555</h2>
                <dl class="stationinformation">
                    <dt>Depart</dt>
                        <dd>HPN-Westchester Cou&hellip;<br>12:20pm</dd>
                    <dt>Arrive</dt>
                        <dd>MCO-Orlando, FL<br>3:45pm</dd>
                </dl>
                <dl class="seatassign">
                    <dt>Charles Jackson</dt><dd>17A</dd>
                    <dt>Kate Jackson</dt><dd>17B</dd>
                </dl>
            </li>
        </ul>
        <button>Select | Change seat</button>
        <button>Skip and continue</button>
    </div>
    <div class="ft"></div>
</div>